body {
    font-family: Arial, Helvetica, sans-serif;
}


header {
    background-color: linear-gradient(45deg, #f31c1c, #deb900) 30% no-repeat;
    border-radius: 15px;
    margin: 15px;
    padding: 15px;  
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.877);
}

nav ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

nav li {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 15px;
}

nav li a {
    text-decoration: none;
}


.modal {
    background-color: beige;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}

.modal.show {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    background-color: white;
    max-width: 90vw;
    margin: auto;
    flex: 1;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.modal-header {
    padding-left: 10px;
    border-bottom: 1px solid #ddd;
}

.modal-body {
    max-height: 80vh;
    overflow-y: auto;
    padding: 10px;
}

.modal-footer {
    padding: 10px;
    border-top: 1px solid #ddd;
    text-align: right;
}

.btn {
    padding: 5px;
    background-color: darkcyan;
    color: white;
    text-decoration: none;
}

.btn-close {
    background-color: red;
}

h2, h3 {
    text-align: left;
    color: white;
}

div#highest-rated {
    text-align: center;
}

h2.bm-title-h2 {
    text-align: center;
    color: #ffffff;
}

h2.category-title {
    text-align: center;
    color: #ffffff;
}

/**
CAROUSEL
 */

 html {
    width: 100%;
    background-color: rgb(53, 51, 51);
    overflow-x: hidden;
    min-height: 100%;
  }
  body {
    width: 80%;
    margin: auto;
    overflow-x: hidden;
  }
  
 body {
     font-family: sans-serif;
     padding: 0 50px 50px;
     background-color: #21D4FD;
     background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
     line-height: 1.4;
 }
 .title {
     margin-top: 50px;
     font-size: 25px;
     color: #fff;
     font-weight: 700;
     margin-bottom: 25px;
 }
 .item {
     margin: 10px;
     background-color: #fff;
     box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
     transition: transform 0.3s;
     transform: translate3d(0, -1px, 0);
 }
 .item:hover {
     transform: translate3d(0, -10px, 0);
 }
 .item img {
     display: block;
     width: 100%;
     height: auto;
 }
 .item__body {
     padding: 25px;
 }
 .item__title {
     font-size: 24px;
     margin-bottom: 5px;
     font-weight: 700;
     color: #232323;
 }
 .item__description {
     color: #585858;
 }
 .carousel,
 .items {
     position: relative;
 }
 .carousel {
     margin-bottom: 30px;
 }
 .carousel__container {
     transition: transform 0.3s;
     transform: translateZ(0);
     display: flex;
 }
 .carousel__container:after {
     content: "";
     clear: both;
     display: table;
 }
 .carousel__item {
     float: left;
 }

.carousel__item .item {
    margin: 50px;
}
 .carousel__next,
 .carousel__prev {
     position: absolute;
     width: 36px;
     height: 36px;
     background: #fff url(../img/arrow-right.png) 50% no-repeat;
     background-size: cover;
     border-radius: 50%;
     top: 50%;
     margin-top: -20px;
     right: -20px;
     box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
     cursor: pointer;
     transition: transform 0.3s, opacity 0.3s;
     opacity: 0.6;
 }
 .carousel__next:hover,
 .carousel__prev:hover {
     transform: scale(1.2);
 }
 .carousel__prev {
     background-image: url(../img/arrow-left.png);
     background-size: cover;
     right: auto;
     left: -20px;
 }
 .carousel__next--hidden,
 .carousel__prev--hidden {
     opacity: 0;
 }
 .carousel__pagination {
     position: absolute;
     bottom: -20px;
     left: 0;
     right: 0;
     text-align: center;
     display: none;
 }
 .carousel__pagination__button {
     background-color: #fff;
     width: 10px;
     height: 10px;
     border-radius: 50%;
     display: inline-block;
     margin: 0 3px;
     box-shadow: 0 2px 5px #3232321a;
     transition: transform 0.3s;
     cursor: pointer;
 }
 .carousel__pagination__button--active,
 .carousel__pagination__button:hover {
     transform: scale(1.4);
 }
 @media screen and (min-width: 800px) {
     .carousel__pagination {
         display: block;
     }
 }