html {
    overflow-y: auto;
}

header {
    background-color: linear-gradient(45deg, #f31c1c, #deb900) 30% no-repeat;
    border-radius: 15px;
    margin: 15px;
    padding: 15px;  
    position: relative;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.877);
}

.space {
    height: 40px;
    width: 40px;
}

h1.main-title {
    margin: 15px;
    color: #ffffff;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Bouton d'accueil */
.homepage-btn {
    position: relative;
    display: inline-block;
    margin: 10px;
}
.homebtn {
    background-color: #02c047;
    border-radius: 2px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    text-decoration: none;
}

.homebtn:hover {
    background-color: #3e438e;
  }


/* Dropdown Button */
.dropbtn {
    background-color: #02c047;
    border-radius: 2px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin: 10px;
  }
  
  /* Dropdown Content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
      background-color: rgb(96, 216, 16);
    }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
      background-color: #3e438e;
    }

/* MODAL */
.modal {
    background-color:rgb(53, 51, 51);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}
.modal.show {
    visibility: visible;
    opacity: 1;
    overflow: auto;
}

.modal-content {
    background-color: rgb(118, 20, 194);
    max-width: 90vw;
    margin: auto;
    flex: 1;
    position: relative;
}
#modal-title {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}
p#t-description {
    color: white;
    font-weight: bold;
}
p#modal-t-description {
    color: white;
    font-size: 15px;
}
.t-directors-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: bold;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}
div#t-directors {
    font-weight: normal;
    color:white;
}

.t-countries-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: bold;
    color: white;
    padding-bottom: 5px;
}
div#t-countries {
    font-weight: normal;
    color:white;
}

.t-duration-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: bold;
    color: white;
    padding-bottom: 5px;
    padding-top: 5px;
}
div#t-duration {
    font-weight: normal;
    color:white;
}

.t-actors-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: bold;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}
div#t-actors {
    padding-bottom: 5px;
    font-weight: normal;
    color:white;
}

.t-modal-wwgi-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: bold;
    color: white;
    padding-top: 5px;
}
div#t-wwgi {
    font-weight: normal;
    color:white;
}


.modal-close {
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.modal-header {
    padding-left: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.modal-body {
    padding-left: 10px;
    max-height: 80vh;
    padding: 10px;
}

.modal-footer {
    padding: 10px;
    border-top: 1px solid #ddd;
    text-align: right;
}

.btn {
    padding: 5px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.btn-close {
    background-color: red;
}

/**** fin MODAL ****/

div#highest-rated {
    text-align: center;
}
h3.bm-title-h2, h3.category-title {
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;
}
.category-bg {
    background-color: rgb(153, 37, 242);
    border-radius: 50px;
    padding: 7px;
}

/**
MEILLEUR FILM
 */

 .meilleur_film {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(118, 20, 194);
    border-radius: 30px;
 }

 #highest-title {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 20px;
 }
 div.highest-rated {
    padding-top: 9%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
 button#btn-play.openmodal {
    background-color: transparent;
    border-radius: 3px;
    margin: 0 auto;
    padding: 10px;
    height: auto;
    justify-content: flex-start;
    display: flex;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Helvetica', sans-serif;
 }
 button#btn-play.openmodal:hover {
    border-radius: 3px;
    margin: 0 auto;
    padding: 10px;
    height: auto;
    justify-content: flex-start;
    display: flex;
    transform: translate3d(0, -1px, 3);
    background: linear-gradient(90deg, #d110ce, #3ee800, #00b9fd, #0bfefe);
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
 }

 .highest_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-end;
    padding-bottom: 35px;
    padding-left: 15px;
 }
 div.highest_resume {
    display: block;
    color: rgba(157, 255, 0, 0.849);
    font-size: 1em;
    font-weight: bold;
    margin-bottom: auto;
    padding-top: 35px;
 }
 .bm-resume {
     text-align: center;
     font-size: 1em;
     color: #000000;
     padding-bottom: 35px;
 }

#best-movie-description {
    color: rgba(242, 255, 0, 0.849);
    font-size: 1em;
    font-family: "Helvetica Neue", sans-serif;
    text-shadow: #232323;
}


/**
CAROUSEL
 */

 html {
    width: 100%;
    background-color: rgb(53, 51, 51);
    min-height: 100%;
  }
  body {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
 body {
     font-family: Arial, Helvetica, sans-serif;
     padding: 0 50px 50px;
     background-color: #21D4FD;
     background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
     line-height: 1.4;
 }
 .title {
     margin-top: 50px;
     font-size: 25px;
     color: #fff;
     font-weight: 700;
     margin-bottom: 25px;
 }
 .item {
     margin: 10px;
     background-color: #fff;
     box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
     transition: transform 0.3s;
     transform: translate3d(0, -1px, 0);
 }
 .item:hover {
     transform: translate3d(0, -30px, 0);
     transform: scale(1.2); 
}
 .item img {
     display: block;
     width: 100%;
     height: auto;
 }
 .item__body {
     padding: 25px;
 }
 .item__title {
     font-size: 24px;
     margin-bottom: 5px;
     font-weight: 700;
     color: #232323;
 }
 .item__description {
     color: #585858;
 }
 .carousel,
 .items {
     position: relative;
 }
 .carousel {
     margin-bottom: 30px;
 }
 .carousel__container {
     transition: transform 0.3s;
     transform: translateZ(0);
     display: flex;
 }
 .carousel__container:after {
     content: "";
     clear: both;
     display: table;
 }
 .carousel__item {
     float: left;
 }

.carousel__item .item {
    margin: 50px;
}
 .carousel__next,
 .carousel__prev {
     position: absolute;
     width: 36px;
     height: 36px;
     background: #fff url(../img/arrow-right.png) 50% no-repeat;
     background-size: cover;
     border-radius: 50%;
     top: 50%;
     margin-top: -20px;
     right: -20px;
     box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
     cursor: pointer;
     transition: transform 0.3s, opacity 0.3s;
     opacity: 0.6;
 }
 .carousel__next:hover,
 .carousel__prev:hover {
     transform: scale(1.2);
 }
 .carousel__prev {
     background-image: url(../img/arrow-left.png);
     background-size: cover;
     right: auto;
     left: -20px;
 }
 .carousel__next--hidden,
 .carousel__prev--hidden {
     opacity: 0;
 }
 .carousel__pagination {
     position: absolute;
     bottom: -20px;
     left: 0;
     right: 0;
     text-align: center;
     display: none;
 }
 .carousel__pagination__button {
     background-color: #fff;
     width: 10px;
     height: 10px;
     border-radius: 50%;
     display: inline-block;
     margin: 0 3px;
     box-shadow: 0 2px 5px #3232321a;
     transition: transform 0.3s;
     cursor: pointer;
 }
 .carousel__pagination__button--active,
 .carousel__pagination__button:hover {
     transform: scale(1.4);
 }
 @media screen and (min-width: 800px) {
     .carousel__pagination {
         display: block;
     }
 }

 div.carousel-best-movies {
    background: rgb(113,255,155);
    background: linear-gradient(90deg, rgba(113,255,155,1) 0%, rgba(67,222,45,1) 100%, rgba(0,212,255,1) 100%);
    border-radius: 30px;
 }

 @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}