body {
    font-family: Arial, Helvetica, sans-serif;
}


header {
    background-color: linear-gradient(45deg, #f31c1c, #deb900) 30% no-repeat;
    border-radius: 15px;
    margin: 15px;
    padding: 15px;  
    display: flex;
    justify-content: space-evenly;
    position: relative;
    flex-wrap: wrap;
    box-shadow: 0 0 2em rgba(255, 255, 255, 0.877);
}

nav ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

nav li {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 15px;
}

nav li a {
    text-decoration: none;
}


.modal {
    background-color: beige;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}

.modal.show {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    background-color: white;
    max-width: 90vw;
    margin: auto;
    flex: 1;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.modal-header {
    padding-left: 10px;
    border-bottom: 1px solid #ddd;
}

.modal-body {
    max-height: 80vh;
    overflow-y: auto;
    padding: 10px;
}

.modal-footer {
    padding: 10px;
    border-top: 1px solid #ddd;
    text-align: right;
}

.btn {
    padding: 5px;
    background-color: darkcyan;
    color: white;
    text-decoration: none;
}

.btn-close {
    background-color: red;
}


.carousel-best-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px;
}

div.carousel-best-movies {
    background-color: black;
}
                
.btn-arrow {
    background-color: #e5e9f0;
    color: #434c5e;
    border-radius: 5px;
    border: none;
    font-size: 2.5em;
    cursor: pointer;
}

.btn-arrow:hover {
    color: #5e81ac;
}

h2 {
    text-align: center;
}

section#highest-rated {
    text-align: center;
}

h2.bm-title-h2 {
    text-align: center;
    color: #434c5e;
}

h2.category-title {
    text-align: center;
    color: #434c5e;
}

/**
CAROUSEL
 */

 body,
 html {
     margin: 0;
     padding: 0;
     min-height: 100%;
     overflow-x: hidden;
 }
 body {
     font-family: sans-serif;
     padding: 0 50px 50px;
     background: linear-gradient(45deg, #deb900, #f34646) 50% no-repeat;
     line-height: 1.4;
 }
 .title {
     margin-top: 50px;
     font-size: 25px;
     color: #fff;
     font-weight: 700;
     margin-bottom: 25px;
 }
 .item {
     margin: 10px;
     background-color: #fff;
     box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
     transition: transform 0.3s;
     transform: translate3d(0, -1px, 0);
 }
 .item:hover {
     transform: translate3d(0, -10px, 0);
 }
 .item img {
     display: block;
     width: 100%;
     height: auto;
 }
 .item__body {
     padding: 25px;
 }
 .item__title {
     font-size: 24px;
     margin-bottom: 5px;
     font-weight: 700;
     color: #232323;
 }
 .item__description {
     color: #585858;
 }
 .carousel,
 .items {
     position: relative;
 }
 .carousel {
     margin-bottom: 30px;
 }
 .carousel__container {
     transition: transform 0.3s;
     transform: translateZ(0);
 }
 .carousel__container:after {
     content: "";
     clear: both;
     display: table;
 }
 .carousel__item {
     float: left;
 }
 .carousel__next,
 .carousel__prev {
     position: absolute;
     width: 40px;
     height: 40px;
     background: #fff url(4beb4317ebb605abb3096d9a1b5dbde4.svg) 50% no-repeat;
     background-size: 20px 20px;
     border-radius: 50%;
     top: 50%;
     margin-top: -20px;
     right: -20px;
     box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
     cursor: pointer;
     transition: transform 0.3s, opacity 0.3s;
 }
 .carousel__next:hover,
 .carousel__prev:hover {
     transform: scale(1.2);
 }
 .carousel__prev {
     background-image: url(34e24e9b7204d9bc7367d0d520ca4157.svg);
     right: auto;
     left: -20px;
 }
 .carousel__next--hidden,
 .carousel__prev--hidden {
     opacity: 0;
 }
 .carousel__pagination {
     position: absolute;
     bottom: -20px;
     left: 0;
     right: 0;
     text-align: center;
     display: none;
 }
 .carousel__pagination__button {
     background-color: #fff;
     width: 10px;
     height: 10px;
     border-radius: 50%;
     display: inline-block;
     margin: 0 3px;
     box-shadow: 0 2px 5px #3232321a;
     transition: transform 0.3s;
     cursor: pointer;
 }
 .carousel__pagination__button--active,
 .carousel__pagination__button:hover {
     transform: scale(1.4);
 }
 @media screen and (min-width: 800px) {
     .carousel__pagination {
         display: block;
     }
 }
 